@model Customer
@{
    ViewBag.Title = "Delete Customer";
}

<h1>@ViewBag.Title</h1>
<p>Do you really want to delete "<span class="font-weight-bold">@Model.FirstName @Model.LastName</span>"?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CustomerId" />

    <button type="submit" class="btn btn-primary">Yes</button>
    <a asp-action="Index" class="btn btn-primary">No</a>
</form>
